
  
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li style="background-color: aquamarine;"  class="nav-item">
            <a class="nav-link" aria-current="page" href="/register">Profil</a>
          </li>
          <li style="background-color: aquamarine;"  class="nav-item">
            <button class="nav-link" aria-current="page" (click)="allOrders()">Sve porudzbine</button>
          </li>
          <li style="background-color: aquamarine;" class="nav-item">
            <button class="nav-link" (click)="allDeliverers()">Dostavljaci</button>
          </li>
          <li style="background-color: aquamarine;" class="nav-item">
            <button class="nav-link" (click)="addArticle()">Dodaj artikal</button>
          </li>
        </ul>      
      </div>
    </div>
  </nav>

  <div *ngIf="showOrders">
    <app-order-component *ngFor="let o of orders" [order] = 'o'></app-order-component>
  </div>
  <div *ngIf="showDeliverers">
    <app-deliverer *ngFor="let d of deliverers" [user] = 'd'></app-deliverer>
  </div>