
  
  <div>
    <button style="float:right" class="btn btn-lg navlink" (click)="logOut()">Izloguj se</button>
  </div>

  <div class="row" style="width: fit-content;">
    <div class="col" >
      <a class="btn btn-lg navlink" href="/register">Profil</a>
    </div>
    <div class="col" >
      <button class="btn btn-lg navlink" (click)="allOrders()">Sve porudzbine</button>
    </div>
    <div class="col" >
      <button class="btn btn-lg navlink" (click)="allDeliverers()">Dostavljaci</button>
    </div>
    <div class="col" >
      <button class="btn btn-lg navlink" (click)="addArticle()">Dodaj artikal</button>
    </div>
    
  </div>
  

  <div *ngIf="showOrders">
    <app-order-component *ngFor="let o of orders" [order] = 'o'></app-order-component>
  </div>
  <div *ngIf="showDeliverers">
    <app-deliverer *ngFor="let d of deliverers" [user] = 'd'></app-deliverer>
  </div>