

<div>
  <button style="float:right" class="btn btn-lg navlink" (click)="logOut()">Izloguj se</button>
</div>

<div class="row" style="width: fit-content;">
  <div class="col" >
    <a class="btn btn-lg navlink" href="/register">Profil</a>
  </div>
  <div class="col" >
    <button class="btn btn-lg navlink" (click)="newOrder()">Nova porudzbina</button>
  </div>
  <div class="col" >
    <button class="btn btn-lg navlink" (click)="currentOrder()">Trenutna porudzbina</button>
  </div>
  <div class="col" >
    <button class="btn btn-lg navlink" (click)="myOrders()">Prethodne porudzbine</button>
  </div>
  
</div>

<div *ngIf="apiError==true" class="alert alert-danger" role="alert">
  Vec imate dostavu na cekanju!
</div>


<!--korpa-->
<div *ngIf="showBasket" class="card" style="float: right; margin-right: 30px;" >
  <div class="card-body">
    <h5 style="text-align: center;" class="card-title justify-content-center" >KORPA</h5>
    <div class="card" style="width:fit-content; height: fit-content; background-color: lightgreen; margin: 10px;" *ngFor="let article of basket">
      <div class="card-body">           
              {{article.name}} x{{article.amount}}: {{article.price*article.amount}} DIN
              <button style="background-color: red;" (click) = "removeArticle(article)">X</button>        
      </div>
      
    </div>

    <br/>

      <div style="position: relative; left: 10px;">
          <b>Ukupno: {{price}} DIN</b>
      </div>
      <br/>

    <form [formGroup]="formGroupOrder">
      <div style="text-align: center;" class="form-outline form-white mb-4">
          <input formControlName="address" type="text" id="typeAddressX"
              class="form-control form-control-lg" />
          <label class="form-label" for="typeAddressX"><b>Adresa</b>
          </label>
      </div>
    
      <div style="text-align: center;" class="form-outline form-white mb-4">
          <input formControlName="comment" type="text" id="typeCommentX"
              class="form-control form-control-lg" />
          <label style="text-align: center;" class="form-label" for="typeCommentX"><b>Komentar</b></label>
      </div>
      
      <div style="position: relative; left: 60px;">
        <button class="btn btn-lg px-5"  type="submit" [disabled]="basket.length==0 || !formGroupOrder.get('address')?.value"
        (click)="submitOrder()">Naruči</button>
      </div>
      
      
    </form>
  </div>

</div>

<!--artikli-->
<div class="row">
  <div  class="column" style="width: fit-content; height: fit-content;" *ngFor="let art of articles" >   
    <app-article [article]="art" (addEvent)="addArticle($event)" ></app-article>
  </div>
</div>



<!--orders-->
<div *ngFor="let o of orders" style="margin: 30px;">
  <app-order-component [order] = 'o'></app-order-component>
    
</div>



<!--timer-->
<div class="card timer" *ngIf="showTimer">
  <h6><b style="font-size: x-large;">Vreme do dostave : {{deliveryMinutes}} : {{deliverySeconds}}</b></h6>
</div>



