<div>
    <button style="float: right; background-color:darkslategray; color: white; font-weight: bold;" class="btn btn-lg" (click)="logOut()">Izloguj se</button>
  </div>

  <div>
    <button style="float: left; background-color:darkslategray; color: white; font-weight: bold;" class="btn btn-lg" (click)="dashboard()">Nazad na dashboard</button>
  </div>
  
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">


                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Dodavanje artikla</h2>

                            <div *ngIf="requiredError" class="alert alert-danger" role="alert">
                                Niste popunili sva polja!
                            </div>

                            <div *ngIf="apiError" class="alert alert-danger" role="alert">
                                Vec postoji artikal sa tim imenom!
                            </div>
                            <div *ngIf="numberError" class="alert alert-danger" role="alert">
                                Cena mora biti veca od 0!
                            </div>

                            <div *ngIf="successfulAdd" class="alert alert-success" role="alert">
                                Artikal uspesno dodat!
                            </div>

                            <form [formGroup]="formGroupAddArticle">
                                <div class="form-outline form-white mb-4">
                                    <input formControlName="name" type="text" 
                                        class="form-control form-control-lg" />
                                    <label class="form-label" >Ime</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input formControlName="price" type="number" min="1"
                                        class="form-control form-control-lg" />
                                    <label class="form-label" >Cena</label>
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <input formControlName="ingredients" type="text"
                                        class="form-control form-control-lg" />
                                    <label class="form-label" >Sastojci</label>
                                </div>
                            </form>

                            <button class="btn btn-outline-light btn-lg px-5"  type="submit"
                                (click)="addArticle()">Dodaj artikal</button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>