


  <div>
    <button style="float:right" class="btn btn-lg navlink" (click)="logOut()">Izloguj se</button>
  </div>

  <div class="row" style="width: fit-content;">
    <div class="col" >
      <a class="btn btn-lg navlink" href="/register">Profil</a>
    </div>
    <div class="col" >
      <button class="btn btn-lg navlink" (click)="newOrdersRedirect()">Nove porudzbine</button>
    </div>
    <div class="col" >
      <button class="btn btn-lg navlink" (click)="previousOrders()">Prethodne porudzbine</button>
    </div>
    <div class="col" >
      <button class="btn btn-lg navlink" (click)="currentOrder()">Trenutna porudzbina</button>
    </div>
    
  </div>

  <div *ngIf="apiError == true" class="alert alert-danger" role="alert">
    Vec imate dostavu u toku!
</div>

  <!--orders-->
  <ul>
      <li type="none" *ngFor="let o of orders">
        <div style="margin: 30px;">
          <app-order-component [order] = 'o'></app-order-component>
          <button style="float: left;" *ngIf="this.newOrders" (click)="confirmOrder(o)">Potvrdi podrudzbinu</button>
        </div>
      </li>
  </ul>


<!--timer-->
<div class="card timer" *ngIf="showTimer">
  <h6><b style="font-size: x-large;">Vreme do dostave : {{deliveryMinutes}} : {{deliverySeconds}}</b></h6>
</div>
