<div>
  <button value="Log out" (click)="logOut()"></button>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li style="background-color: aquamarine;"  class="nav-item">
            <a class="nav-link" aria-current="page" href="/register">Profil</a>
          </li>
          <li style="background-color: aquamarine;" class="nav-item">
            <button (click)="newOrdersRedirect()" class="nav-link" >Nove porudzbine</button>
          </li>
          <li style="background-color: aquamarine;" class="nav-item">
            <button (click)="previousOrders()" class="nav-link" >Prethodne porudzbine</button>
          </li>
          <li style="background-color: aquamarine;" class="nav-item">
            <button (click)="currentOrder()" class="nav-link" >Trenutna porudzbina</button>
          </li>
        </ul>      
      </div>
    </div>
  </nav>

  <div *ngIf="apiError == true" class="alert alert-danger" role="alert">
    Vec imate dostavu u toku!
</div>

  <ul>
      <li *ngFor="let o of orders">
        <app-order-component [order] = 'o'></app-order-component>
        <button *ngIf="this.newOrders" (click)="confirmOrder(o)"></button>
      </li>
  </ul>

