<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">


                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 *ngIf="!isLoggedIn" class="fw-bold mb-2 text-uppercase">Registracija</h2>
                            <h2 *ngIf="isLoggedIn" class="fw-bold mb-2 text-uppercase">Izmena podataka</h2>
                            <p class="text-white-50 mb-5">Molimo unesite svoje podatke!</p>

                            <div *ngIf="successfulChange" class="alert alert-success" role="alert">
                                Uspesna izmena podataka!
                            </div>
                            <div *ngIf="apiError" class="alert alert-danger" role="alert">
                                Vec postoji korisnik sa tim email-om!
                            </div>
                            <div *ngIf="requiredError" class="alert alert-danger" role="alert">
                                Niste popunili sva polja!
                            </div>
                            <div *ngIf="emailError" class="alert alert-danger" role="alert">
                                Niste uneli ispravan e-mail!
                            </div>
                            <div *ngIf="passwordError" class="alert alert-danger" role="alert">
                                Lozinke se ne poklapaju!
                            </div>

                            <form [formGroup]="formGroupRegister">
                                <div class="form-outline form-white mb-4">
                                    <input formControlName="username" type="text" id="typeUsernameX"
                                        class="form-control form-control-lg" />
                                    <label class="form-label" for="typeUsernameX">Username</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input formControlName="name" type="text" id="typeNameX"
                                        class="form-control form-control-lg" />
                                    <label class="form-label" for="typeNameX">Ime</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input formControlName="surname" type="text" id="typeSurnameX"
                                        class="form-control form-control-lg" />
                                    <label class="form-label" for="typeSurnameX">Prezime</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input formControlName="dateOfBirth" type="date" id="typeNameX"
                                        class="form-control form-control-lg" />
                                    <label class="form-label" for="typeNameX">Datum rodjenja: </label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input formControlName="email" type="email" id="typeEmailX"
                                        class="form-control form-control-lg" />
                                    <label class="form-label" for="typeEmailX">Email</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input formControlName="address" type="text" id="typeAddressX"
                                        class="form-control form-control-lg" />
                                    <label class="form-label" for="typeAddressX">Adresa</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input formControlName="imageUrl" type="file" id="typePasswordX"
                                        class="form-control form-control-lg" />
                                    <label class="form-label" for="typePasswordX">Slika</label>
                                </div>

                                <div>
                                    <img id="slika"/>
                                </div>

                                <div *ngIf="!isLoggedIn">
                                    <select formControlName="type" class="form-select" aria-label="Default select example">
                                        <option selected value="Customer">Kupac</option>
                                        <option value="Deliverer">Dostavljac</option>
                                    </select>
                                    <label class="form-label" for="typePasswordX">Tip korisnika</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input formControlName="password1" type="password" id="typePasswordX"
                                        class="form-control form-control-lg" />
                                    <label class="form-label" for="typePasswordX">Lozinka</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input formControlName="password2" type="password" id="typePasswordX"
                                        class="form-control form-control-lg" />
                                    <label class="form-label" for="typePasswordX">Ponovite lozinku</label>
                                </div>
                            </form>

                            <button *ngIf="!isLoggedIn" class="btn btn-outline-light btn-lg px-5"  type="submit"
                                (click)="submitRegister()">Registruj se</button>

                            <button *ngIf="isLoggedIn" class="btn btn-outline-light btn-lg px-5"  type="submit"
                                (click)="submitRegister()">Promeni</button>

                            <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                            </div>

                        </div>

                        <div *ngIf="!isLoggedIn">
                            <p class="mb-0">Vec imate nalog? <a href="/login" class="text-white-50 fw-bold">Prijavi se</a></p>
                        </div>

                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>