<div style=" width: 20rem; background-color:lightgreen;" class="card" >
    <div class="card-body">
      <h5 class="card" style="background-color: white; text-align: center;">{{article.name}}</h5>
      <p class="card" style="background-color: white; text-align: center;"><b>{{article.price}} DIN</b></p>
    </div>
    <ul *ngFor="let ing of ingredients" >
      <li style="background-color: white; width: auto;
      height: auto;
      margin: 0 auto;
      padding: 10px;
      position: relative;" type="bullet" class="card gx-5">{{ing}}</li>
    </ul>
  </div>
